<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Nếu không phải file hoặc thư mục thực
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Chuyển hướng đến index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
